<html ng-app="QuizApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <title>Quiz App</title>        
    </head>
    <body>
        <div class="jumbotron">
            <h1>Quiz Program</h1>
            <p>Quizzing program selects random students and random questions.</p>
        </div>  
    
        <div class="container">
            <div ng-controller="QuizAppController as qac">
                <p><span>student:</span> {{qac.selected_student.name}} - 
                correct: {{qac.selected_student.correct}} - incorrect: {{qac.selected_student.incorrect}}</p>
                <p><span>question:</span> {{qac.selected_question.text}}</p>
                <p><span>answer:</span> {{qac.selected_question.answer}}</p>
                <button type="button"ng-click="qac.doCorrect()">Correct</button>
                <button type="button"ng-click="qac.doIncorrect()">Incorrect</button>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>               
        <script src="app.js"></script>
    </body>
</html>